6.  Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [3]:
newdata=[]
for i in range(1500,2701):
    if (i%7==0) and (i%5==0):
        newdata.append(i)
print(newdata)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

7.  Write a Python program to construct the following pattern, using a nested for loop

In [1]:
n=5;
for i in range(n):
#     print(i)
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
#     print(i)
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

8.  Write a Python program that accepts a word from the user and reverse it

In [2]:
i = input("give name")
print (i[::-1])

give namekiran
narik

In [ ]:
9.   Write a 
Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for 
the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".
Sample Output :
fizzbuzz
1
2
fizz
4
buzz

In [10]:
for i in range(51):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
        continue
    elif i % 3 == 0:
        print("Fizz")
        continue
    elif i % 5 == 0:
        print("Buzz")
        continue
    print(i)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

10.  Write a Python program to calculate a dog's age in dog's years.
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.
Expected Output:
Input a
 dog's age in human years: 15                                    
The dog's age in dog's years is 73

In [2]:
dog_age=int(input("dog's age in human years"))
if (dog_age<=2):
    dog_human_age= (dog_age)*10.5
    print(dog_human_age)
else:
    dog_human_age= ((dog_age-2)*4)+21
    print(dog_human_age)

dog's age in human years12
61